/* 공통부분 */
body{
	min-width: 330px;
}
.inner{
    margin: auto;
}
li{
    list-style: none;
}    
hr{
    margin: 3px;
}
.cursor{
	cursor: pointer;
}
/* 채팅 리스트 컨테이너 */
/* 나가기 표시 */
.inner .exit-message{
	width:100%;
	text-align: center;
	position: fixed;
	top: 48px;
	opacity: 0.5;
}
/* 타이틀부분(채팅 리스트 컨테이너) */
.inner .list-container .title-container{
    width: 100%;
    height: 48px;
    margin-bottom: auto;
    background-color: skyblue;
    text-align: center;
}
.inner .list-container .title-container .title, .option{
    color: white;
    font-size: 18px;
    line-height: 48px;
}

/* 리스트부분(채팅 리스트 컨테이너) */
.inner .list-container{
    width: 100%;
}
.inner .list-container .empty-message{
	position:fixed;
	top: 48%;
	font-weight: 400;
    font-size: 14px;
	width: 100%;
	text-align: center;
}
.inner .list-container .empty-message .empty-message2{
	padding-top: 7px;
    font-size: 12px;
    line-height: 16px;
    color: #959595;
}

.inner .list-container ul{
    width: 100%;
    overflow-y: auto;
    color: black;
    position: relative;
    padding: 0;
}
.inner .list-container ul li.info-container{
    width: 100%;
    height: 67px;
    list-style: none;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding: 11px;
    border-bottom: 1px solid rgba(0,0,0,.04);
    cursor: pointer;
}
.inner .list-container .print ul li.info-container .open-chat {
    cursor: pointer;
    width: 98%;
}
.inner .list-container ul li.info-container .open-chat .profile-img{
    width: 45px;
    height: 45px;
    border: 1px solid rgba(0,0,0,.04);
    border-radius: 50%;
    left: 5px;
}
.inner .list-container ul li.info-container .open-chat .chat-id{
    top: 15px;
    left: 70px;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
}
.inner .list-container ul li.info-container .open-chat .chat-time{
    top: 15px;
    right: 30px;
    font-size: 8px;
    color: #959595;
    position: absolute;
}
.inner .list-container ul li.info-container .open-chat .unread-count{
    top: 45px;
    right: 30px;
    position: absolute;
    color: #333;
    font-size: 8px;
    font-weight: 600;
}
.inner .list-container ul li.info-container .open-chat .chat-content{
    position: absolute;
    top: 35px;
    left: 70px;
    max-width: 73%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    color: #959595;
}
.inner .list-container ul li.info-container .option-cotainer{
    position: absolute;
    width: 32px;
    height: 67px;
    right: 0px;
    top: 0px;
    padding: 13px 0 15px;
    box-sizing: border-box;
    text-align: center;
    
}
.inner .list-container ul li.info-container .option-cotainer .list-btn{
    cursor: pointer;
    font-size: 18px;
    color: rgba(0,0,0,.08);
    
}
.inner .list-container ul li.info-container .option-cotainer .option-list{
    width: 65px;
    height: 48px;
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
    background-color:white; 
    border-radius: 5px;
    font-size: 8px;
    font-weight: bold;
    color: #959595;
    padding-top: 10px;
}
.inner .list-container ul li.info-container .option-cotainer .option-list
 .read-btn, .exit-btn{
    cursor: pointer;
}

/* 채팅 컨테이너 */
.inner .chat-container{
    width: 100%;
}
/* 채팅컨테이너 타이틀 */
.inner .chat-container .title-container{
    width: 100%;
    height: 48px;
    margin-bottom: auto;
    background-color: skyblue;;
    text-align: center;
    
}
.inner .chat-container .title-container .title, .option, .list{
    color: white;
    font-size: 18px;
    line-height: 48px;
}
.inner .chat-container .title-container .option{
    position: absolute;
    right: 10px;;
    cursor: pointer;
    
}
.inner .chat-container .title-container .list{
    position: absolute;
    left: 10px;;
    cursor: pointer;
}
.inner .chat-container .title-container .function-conatiner{
    position: absolute;
    width: 130px;
    height: 175px;
    font-size:10px;
    top: 10px;
    right: 30px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
    background-color:white; 
    text-align: left;
    border-radius: 10px;
    overflow: hidden;

}
.inner .chat-container .title-container .function-conatiner ul{
	padding-left: 0;
}
.inner .chat-container .title-container .function-conatiner ul li{
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #959595;
    color: #959595;
}

/* 채팅컨테이너 내용부분 */
.inner .chat-container .show-message{
	width: 100%;
    margin-bottom: 51px;
    height: 658px;
    overflow-y: scroll; 
    padding-left: 0;
}
.inner .chat-container ul li.chat-info{
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}
.inner .chat-container ul li.chat-info .profile-img{
    width: 45px;
    height: 45px;
    border: 1px solid rgba(0,0,0,.04);
    border-radius: 50%;
    margin-left: 11px;
}
/* 채팅창 공용 */

.inner .chat-container ul li.chat-info{
    position: relative;
}
.inner .chat-container ul li.chat-info .send-time {
    font-size: 5px;
    color: #959595;
}
/* 채팅창 왼쪽 메세지 */
.inner .chat-container ul li.chat-info .left-container {
    padding-top: 5px;
    width: 70%;
    position: relative;
    margin-right: auto;
}
.inner .chat-container ul li.chat-info .left-container .reciver-id {
    font-size: 14px;
    font-weight: 600;
}
.inner .chat-container ul li.chat-info .left-container .reciver-content {
    font-size: 13px;
	border: none;
	white-space: pre-line;
    width:max-content;
    max-width: 90%;
    margin-left: 60px;
    border-radius: 10px;
}
.inner .chat-container ul li.chat-info .left-container .left-time {
   margin-left: 60px;
}
/* 채팅창 오른쪽 메세지*/
.inner .chat-container ul li.chat-info .right-container{
    width: 70%;
    height: max-content;
    position: relative;
    margin-left: auto;
    padding-top: 5px;
    
}
.inner .chat-container ul li.chat-info .right-container .sender-content {
    font-size: 13px;
    border: none;
	white-space: pre-line;
    width:max-content;
    background-color: #d9f7e7;
    margin-left: auto;
    margin-right: 20px;
    max-width: 90%;
    border-radius: 10px;
}
.inner .chat-container ul li.chat-info .right-container .right-time {
    display: block;
    width: max-content;
    margin-right: 20px;
    margin-left: auto;
}

.inner .chat-container ul li.chat-info .right-container .unread-message {
    font-size: 5px;
    color: black;
    font-weight: 600;
}
/* 채탱입력 컨터이너 */
.inner .chat-container .text-container{
    width: 100%;
    padding: 8px;
    padding-right: 35px;
    height: 51px;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
}
.inner .chat-container .text-container .text:focus{
    outline: none;
}
.inner .chat-container .text-container .text{
    box-sizing: border-box;
    height: 33px;
    width: 100%;
    border: none;
    background-color: #f5f6f8;
    padding-left: 10px;
    padding-top: 8px;
    border-radius: 10px;
    resize: none;
    
}
.inner .chat-container .text-container .send-btn{
    position: absolute;
    font-size: 22px;
    right: 10px;
    top: 13px;
    cursor: pointer;
    color: skyblue;
}