/* 후원자 리스트 sponsorMemberList.jsp */
.HeaderWrap {
    -webkit-text-size-adjust: 100%;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    height: 100%;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 1080px;
}
.HeaderLeft {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    word-break: break-all;
    box-sizing: inherit;
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    position: relative;
    z-index: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    color: rgb(13, 13, 13);
}
.ggMYrs { /* 아이콘 */
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: bold;
    color: rgb(13, 13, 13);
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    display: inline-flex;
    align-self: center;
    margin-right: 9px;
}
a.HeaderLeft span {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    font-weight: bold;
    color: rgb(13, 13, 13);
    box-sizing: inherit;
    display: inline;
}
.pagination .page-item:first-child {
	margin-right: 0px;
}
.pagination .page-item:last-child {
    margin-left: 0px;
}
/* 올린 프로젝트 관리 uploadedProjectModify.jsp */
.TopContents {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 8px, rgba(0, 0, 0, 0.02) 0px 1px 0px;
    z-index: 1;
}
.TopContentsCenter {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    margin: 0px auto;
    width: 1080px;
}
.ButtonsWrap {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 24px 0px 25px;
}
.ProjectButton>span {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    font: inherit;
    text-transform: none;
    white-space: nowrap;
    pointer-events: none;
    font-weight: 500;
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    cursor: default;
    box-sizing: inherit;
    color: rgb(61, 61, 61);
    opacity: 0.5;
}
.ProjectButton {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    font: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 4px;
    margin: 0px;
    border: 0px;
    outline: none;
    box-sizing: border-box;
    padding: 0px 16px;
    pointer-events: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    width: 120px;
    height: 40px;
    cursor: default;
    background: rgb(240, 240, 240);
}
.ProjectContents {
	    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    padding: 0px 0px 54px;
}
div.ProjectThumbnail {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    background: url("/wpa/b092e02bfb24cf713ec1d34b712d2528.png") center center / 50% no-repeat rgb(252, 252, 252);
    background: url(/wpa/b092e02….png) center center / 50% no-repeat rgb(252, 252, 252);
    margin: 0px 32px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 1px 0px;
    border-radius: 8px;
    width: 200px;
    height: 133px;
    margin-bottom: 0px;
}
div.ProjectThumbnail>img {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    margin: 0px 32px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 1px 0px;
	border-radius: 8px;
    width: 200px;
    height: 133px;
    margin-bottom: 0px;
}
.ProjectTitle {
    text-size-adjust: 100%;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    box-sizing: inherit;
    margin: 0em 0em 1em;
    word-break: break-all;
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 32px !important;
    line-height: 44px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    margin-top: 0em;
}
.ProjectCategory {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, NotoSansKR, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    box-sizing: inherit;
    margin: 0em 0em 1em;
    word-break: break-all;
    color: rgb(109, 109, 109);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    margin-bottom: 0em;
}
.PlanTabs {
    text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, NotoSansKR, sans-serif;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.PlanTabsWrap>ul {
    text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, NotoSansKR, sans-serif;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    box-sizing: inherit;
    position: relative;
    padding: 0px;
    margin: 0px auto;
    height: 60px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    width: 1080px;
}
.TabItem {
    text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, NotoSansKR, sans-serif;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    box-sizing: inherit;
    list-style: none;
    margin-right: 32px;
}
.TabItem > a {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    word-break: break-all;
    white-space: nowrap;
    list-style: none;
    box-sizing: inherit;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    text-decoration: none;
    outline: 0;
    color: rgb(13, 13, 13);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    font-size: 14px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 700 !important;
}
.kzulTK {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    word-break: break-all;
    white-space: nowrap;
    list-style: none;
    box-sizing: inherit;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    outline: 0px;
    color: rgb(13, 13, 13);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    font-size: 14px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 700 !important;
}
.dQomJa {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    word-break: break-all;
    white-space: nowrap;
    list-style: none;
    box-sizing: inherit;
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    font-weight: 500;
    color: rgb(13, 13, 13);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 0.3;
    font-size: 14px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}
.ccxeYs {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    white-space: nowrap;
    list-style: none;
    font-weight: 500;
    color: rgb(13, 13, 13);
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-self: center;
    position: relative;
    font-size: 24px;
    top: -2px;
    margin-left: 3px;
}
.ggMYrs>svg {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    white-space: nowrap;
    list-style: none;
    font-weight: 500;
    color: rgb(13, 13, 13);
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    font-size: 24px;
    box-sizing: inherit;
    overflow: hidden;
    width: 1em;
    height: 1em;
}
.disabled svg {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    white-space: nowrap;
    list-style: none;
    font-weight: 500;
    color: rgb(13, 13, 13);
    font-size: 14px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    pointer-events: none;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    box-sizing: inherit;
    overflow: hidden;
    width: 1em;
    height: 1em;
}

/* 메뉴 아래 */
div.common-Layer {
	-webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    background: #FFF;
    color: #3d3d3d;
}