/* 후원프로젝트 디테일 페이지 */

.Page {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    background: #FFF;
    color: #3d3d3d;
    width: 100%;
    border-bottom: 1px solid rgb(230, 230, 230);
    position: relative;
}
.ProjectIntroWrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    box-sizing: inherit;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-bottom: 1px solid rgb(230, 230, 230);
    user-select: none;
    width: auto;
    margin-bottom: 32px;
}
.inner {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    user-select: none;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    width: 1032px;
    padding: 32px 0px;
    align-items: start;
}
.ImgArea {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    user-select: none;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    width: 152px;
}
.ImgArea>a {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    user-select: none;
    word-break: break-all;
    box-sizing: inherit;
    color: #FA6462;
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}
.ProjectInfo {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-weight: 400;
    color: #3d3d3d;
    user-select: none;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    position: relative;
    flex: 1 1 0%;
    margin-left: 24px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
}
.intro {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    user-select: none;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    box-sizing: inherit;
    font-weight: bold;
    color: rgb(158, 158, 158);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    cursor: pointer;
}
.title {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    color: #3d3d3d;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    box-sizing: inherit;
    word-break: break-all;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: -0.030em;
}
.title-ProjectInfo>a {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    user-select: none;
    word-break: break-all;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    box-sizing: inherit;
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    display: block;
    color: rgb(61, 61, 61);
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.025em;
}
.flex {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-weight: 400;
    color: #3d3d3d;
    user-select: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    display: flex;
}
.account {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    color: #3d3d3d;
    user-select: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    box-sizing: inherit;
    font-weight: bold;
    margin-right: 12px;
}
.achivement {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-weight: 400;
    user-select: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    box-sizing: inherit;
    display: block;
    color: rgb(255, 87, 87);
}
.state {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-weight: 400;
    color: #3d3d3d;
    user-select: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    box-sizing: inherit;
    padding-left: 12px;
    position: relative;
}
.AskCreatorButton {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    user-select: none;
    word-break: break-all;
    letter-spacing: -0.015em;
    box-sizing: inherit;
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    display: flex;
    height: 42px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(109, 109, 109);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    transition: all 0.3s ease-in-out 0s;
    margin-top: 0px;
    position: absolute;
    width: 187px;
    top: 20px;
    right: 0px;
}
.AskCreatorButtonIcon {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    user-select: none;
    letter-spacing: -0.015em;
    cursor: pointer;
    color: rgb(109, 109, 109);
    font-weight: 500;
    line-height: 24px;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    display: inline-flex;
    align-self: center;
    font-size: 16px;
    padding-right: 5px;
}
.askbtn-svg {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    user-select: none;
    letter-spacing: -0.015em;
    cursor: pointer;
    color: rgb(109, 109, 109);
    font-weight: 500;
    line-height: 24px;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    font-size: 16px;
    box-sizing: inherit;
    overflow: hidden;
    width: 1em;
    height: 1em;
    fill: rgb(109, 109, 109);
    stroke-width: 1px;
    stroke: rgb(109, 109, 109);
}
.askbtn-svg>path {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    user-select: none;
    letter-spacing: -0.015em;
    cursor: pointer;
    color: rgb(109, 109, 109);
    font-weight: 500;
    line-height: 24px;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    font-size: 16px;
    fill: rgb(109, 109, 109);
    stroke-width: 1px;
    stroke: rgb(109, 109, 109);
    fill-rule: evenodd;
    clip-rule: evenodd;
    d: path("M 41.9 37.8966 H 6.1 C 5.1 37.8966 4.2 37.0958 4.2 35.997 V 34.5964 L 15.7 26.3993 L 19 29.0977 C 21.9 31.4981 26.099 31.4981 29.099 29.0977 L 32.4 26.3993 L 43.9 34.5964 V 35.997 C 43.799 37.0958 43 37.8966 41.9 37.8966 Z M 13.9 24.9996 L 4.2 31.898 V 17.0015 L 13.9 24.9996 Z M 43.799 17.0015 V 31.898 L 34.099 24.9996 L 43.799 17.0015 Z M 6.1 9.20333 H 41.9 C 42.9 9.20333 43.799 10.0031 43.799 11.1029 V 14.2022 L 27.7 27.499 C 25.599 29.1986 22.5 29.1986 20.4 27.499 L 4.2 14.2022 V 11.0029 C 4.2 10.0031 5.1 9.10336 6.1 9.20333 Z M 41.9 7.00385 H 6.1 C 3.9 6.90287 2 8.80243 2 11.0029 V 35.997 C 2 38.2955 3.9 40.0951 6.1 39.9961 H 41.9 C 44.2 39.9961 46 38.1965 46 35.997 V 11.0029 C 46 8.80243 44.2 6.90287 41.9 7.00385 Z");
    box-sizing: inherit;
}
.Container_WarrantyDetailWrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    width: 1080px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 400px;
    overflow-x: hidden;
    padding: 0px 24px 88px;
}
.CardWrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    width: 100%;
    margin-bottom: 20px;
}
.SettingForm {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    padding: 0px 0px 20px;
}
.FormHeader {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-weight: 400;
    color: #3d3d3d;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    display: flex;
    margin: 0px 0px 12px;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.020em;
}
.FormTitle {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    color: #3d3d3d;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    font-size: 16px;
    letter-spacing: -0.020em;
    box-sizing: inherit;
    line-height: 1.7em;
    word-break: break-all;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}
.RoundedWrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
    border-radius: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
    margin-left: 0px;
    margin-right: 0px;
}
.RoundedWrapper>table {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    box-sizing: inherit;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 16px 0px;
    text-align: left;
}
.RoundedWrapper tbody {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    box-sizing: inherit;
}
.RoundedWrapper tr {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    box-sizing: inherit;
}
.RoundedWrapper th {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #3d3d3d;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: inherit;
    vertical-align: top;
    text-align: left;
    padding: 4px 0px 4px 16px;
    width: 132px;
    padding-left: 20px;
}
.RoundedWrapper td {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    box-sizing: inherit;
    width: auto;
    padding: 4px 16px 4px 0px;
    padding-right: 20px;
}
.btn-wrap {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    box-sizing: inherit;
    word-break: break-all;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: inherit;
    margin-right: 0px;
}
.WarrantyCancelButton {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    word-break: break-all;
    box-sizing: inherit;
    font: inherit;
    overflow: visible;
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    vertical-align: baseline;
    box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 0em 0px 0px inset;
    user-select: none;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0.285714rem;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    padding: 1em 1.5em;
    opacity: 1;
    color: rgb(61, 61, 61);
    font-size: 16px;
    font-weight: normal;
    border: 1px solid rgb(230, 230, 230);
    background: rgb(255, 255, 255);
    width: 189px;
    height: 52px;
    outline: 0;
    margin: 0px 28px 0px 0px;
}
.GoToWarrantyListButton {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    word-break: break-all;
    box-sizing: inherit;
    font: inherit;
    overflow: visible;
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    vertical-align: baseline;
    box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 0em 0px 0px inset;
    user-select: none;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0.285714rem;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    padding: 1em 1.5em;
    opacity: 1;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: normal;
    border: 1px solid rgb(61, 61, 61);
    background: rgb(61, 61, 61);
    width: 189px;
    height: 52px;
    outline: 0;
    margin: 0px 28px 0px 0px;
    margin-right: 0px;
}